
.costumerscontent{
    margin: 20px;
    margin-top: 20px;
}
.buttons-row{
    width: 93;
height: 60px;
margin: 20px;
display: flex;
align-items: center;
justify-content: space-between;

}
h3{

    margin: 20px;
    font-weight: 500;
}
.filterAndSearch{
    display: flex;
    align-items: center;
    
      }.filterAndSearch i{
       cursor: pointer;
       margin-left: 10px;
        
          }.showOnly{
margin: 20px;

          }