.mainContent{
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
justify-items: center;
}

.container{

display: flex;
flex-direction: column;
align-items: center;

}
.lottie{

   height: 300px;
   width: 300px;
   margin: 50px 50px 50px;
}
.title{

font-weight: 700;
font-size: 1.8rem;
margin-top: 17px;
}.title span{

   font-weight: 500;
   font-size: 1rem;
   
   }
   .logo{
margin-top: 5px;

   }
.description{

width: 90%;

}
.description span{

font-weight: bold;
transition: .4s;
   
}