::ng-deep :root {

   --hue-color: 242;
   --skin-color: hsl(201, 100%, 50%);
   --title-color: hsl(var(--hue-color), 8%, 95%);
   --text-color: hsl(var(--hue-color), 8%, 85%);
   --body-color: hsl(var(--hue-color), 19%, 5%);
   --box-color: hsl(var(--hue-color), 14%, 10%);
   --scroll-bar-color: hsl(var(--hue-color), 12%, 26%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
}

.sidenav {
   width: 16%;
   background-color: var(--box-color)
}

.nav-list a {
   font-size: 15px;
   color: rgb(255, 255, 255);
   display: flex;
   padding-left: .9rem;
   height: 2.4rem;
   transition: .4s;

}
.mat-list-item:hover{
   background-color: var(--skin-color);
   }
.nav-list i {
   margin-right: 10px;
   display: flex;
}

.logoContainer {
   padding-top: 20px;
   background-color: var(--body-color);
   ;
}

h3{
justify-content: center;
   display: flex;
   font-size: 25px;
   align-items: center;
   color: var(--skin-color)
}

h3 span,
i {
   color: rgb(255, 255, 255);
   padding-right: 10px;
   font-weight: bold;
}

.nav-list i {
   font-size: 1rem;
   color: rgb(219, 219, 219);
}

.sectionTitle {

   font-size: 12px;
   color: rgb(239, 239, 239);
   padding-left: .8rem;
   padding-top: 1.2rem;
}
*{

   overflow: hidden;

}

.content{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.view{
width: 80%;

}