@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');


:root{
    --mainColor:rgb(0, 72, 118);
 
 }

html, body { height: 100%;}
body { margin: 0;    font-family: Poppins, 'Poppins', sans-serif;}
::-webkit-scrollbar {
    background-color: darkgrey;
    width: 10px;
    
  }
  ::-webkit-scrollbar-thumb {
    background-color:var(--box-color);
    border-radius: 10px;
      }
       
    
::-webkit-scrollbar-track {
background-color: white;
  }
   
  .mat-sidenav-content .mainContent{
    overflow-y: scroll;
    
    height: 86vh
    
    
    }
    .mainButtons{

      width: 150px;
      height: 40px;
      background-color: var(--mainColor)
      ;color: white;
      
      } 
        .content{
          overflow-y: scroll;
          
          height: 86vh;
          margin: 20px;
          
          }
      
          .snackbar-card{
            background-color: rgb(0, 156, 0);
            color: white;
        
        }
        .snackbar-card-error{
            background-color: rgb(156, 0, 0);
            color: white;
        
        }
        .snackbar-card span{
            color: white;
        }
        .snackbar-card-error span{
            color: white;
        }